<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome') %></h1>
  <p class="lead"><%= t('appdescription') %></p>
  <hr class="my-4">
  <p>Para começar, selecione uma das opções a baixo.</p>
  <%= render "menu" %>
  <p>
    <strong>Data:</strong> <%= l(Date.today) %>
  </p>
  <p>
    Você está em ambiente de <strong><%= ambiente_rails%></strong>
  </p>
</div>




