<h1>Seja bem vindo</h1>
<p>Idioma selecionado: <strong><%= I18n.locale %></strong></p>
<p><strong>Data:</strong> <%= l(Date.today) %></p>

<p><strong><%= I18n.t('hello') %></strong></p>

<%= render 'menu' %>

<p>
    Você está em ambiente de <strong><%= ambiente_rails%></strong>
</p>
<p>
    A variável de instância/sessão tem o valor para nome: <strong><%= @nome%></strong>
</p>
<p>
    O curso é: <strong><%= @curso%></strong>
</p>